services:
  expense-tracker-bot:
    image: ${IMAGE_NAME:-expense-tracker-bot:latest}
    build: .
    container_name: ${CONTAINER_NAME:-expense-tracker-bot}
    restart: always
    env_file:
      - .env
    volumes:
      - ./credentials:/credentials:ro
    networks:
      - proxy
      - internal
    labels:
      - type=app
      - subtype=bot
      - app=expense-tracker
      - env=${DEPLOY_ENV:-prod}
      - traefik.enable=true
      - traefik.http.routers.${TRAEFIK_ROUTER_NAME:-expense-bot}.rule=Host(`n8n.srv1153123.hstgr.cloud`) && PathPrefix(`${TRAEFIK_PATH_PREFIX:-/expense/v1}`)
      - traefik.http.routers.${TRAEFIK_ROUTER_NAME:-expense-bot}.entrypoints=websecure
      - traefik.http.routers.${TRAEFIK_ROUTER_NAME:-expense-bot}.tls=true
      - traefik.http.routers.${TRAEFIK_ROUTER_NAME:-expense-bot}.tls.certresolver=mytlschallenge
      - traefik.http.services.${TRAEFIK_ROUTER_NAME:-expense-bot}.loadbalancer.server.port=8000
      - traefik.http.middlewares.${TRAEFIK_MIDDLEWARE_NAME:-expense-strip}.stripprefix.prefixes=${TRAEFIK_PATH_PREFIX:-/expense/v1}
      - traefik.http.routers.${TRAEFIK_ROUTER_NAME:-expense-bot}.middlewares=${TRAEFIK_MIDDLEWARE_NAME:-expense-strip}@docker
      - traefik.docker.network=proxy

networks:
  proxy:
    external: true
  internal:
    external: true
