services:
  telegram-bot:
    build: .
    container_name: telegram-bot
    restart: always
    env_file:
      - .env
    labels:
      - traefik.enable=true
      - traefik.http.routers.telegrambot.rule=Host(`bot.srv1153123.hstgr.cloud`)
      - traefik.http.routers.telegrambot.entrypoints=websecure
      - traefik.http.routers.telegrambot.tls=true
      - traefik.http.routers.telegrambot.tls.certresolver=mytlschallenge
      - traefik.http.services.telegrambot.loadbalancer.server.port=8000
