services:
  expense-tracker-bot:
    build: .
    container_name: expense-tracker-bot
    restart: always
    env_file:
      - .env
    labels:
      - traefik.enable=true
      - traefik.http.routers.expense-tracker-bot.rule=Host(`bot.srv1153123.hstgr.cloud`) && PathPrefix(`/expense/v1`)
      - traefik.http.routers.expense-tracker-bot.entrypoints=websecure
      - traefik.http.routers.expense-tracker-bot.tls=true
      - traefik.http.routers.expense-tracker-bot.tls.certresolver=mytlschallenge
      - traefik.http.services.expense-tracker-bot.loadbalancer.server.port=8000
